---
import AdminTabPerfil from "./AdminTabPerfil.astro";
import AdminTabCategorias from "./AdminTabCategorias.astro";
import AdminTabPlatos from "./AdminTabPlatos.astro";
---

<div id="admin-panel" style="display: none">
  <div class="tabs">
    <button class="tab active" data-tab="perfil">Perfil</button>
    <button class="tab" data-tab="categorias">Categorías</button>
    <button class="tab" data-tab="platos">Platos</button>
  </div>

  <!-- TAB PERFIL -->
  <AdminTabPerfil />

  <!-- TAB CATEGORÍAS -->
  <AdminTabCategorias />

  <!-- TAB PLATOS -->
  <AdminTabPlatos />

  <button id="logoutBtn">Cerrar Sesión</button>
</div>
