<div id="tab-categorias" class="tab-content">
  <div class="form-box">
    <h3 id="categoria-form-title">➕ Nueva Categoría</h3>
    <input type="hidden" id="editCategoriaId" />
    <input id="categoriaNombre" placeholder="Nombre de la categoría" />
    <button id="guardarCategoriaBtn">Guardar</button>
    <button class="cancel" id="cancelCategoriaBtn" style="display: none">
      Cancelar
    </button>
  </div>

  <div id="categoriasContainer"></div>
</div>
