---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeScreen from "../components/HomeScreen.astro";
import CategoryScreen from "../components/CategoryScreen.astro";
import SearchOverlay from "../components/SearchOverlay.astro";
import Sheets from "../components/Sheets.astro";
import "../styles/global.css";
import "../styles/styles-index.css";
import indexScriptUrl from "../scripts/index.js?url";
---

<BaseLayout title="Carta">
  <div class="app" id="app">
    <HomeScreen />
    <CategoryScreen />
    <SearchOverlay />
  </div>
  <Sheets />
  <script type="module" src={indexScriptUrl}></script>
</BaseLayout>
