<div class="wrap">
  <h1>Buscar Place ID</h1>

  <div class="card">
    <p class="muted">Escribe el nombre del local y selecciónalo.</p>

    <!-- Autocomplete widget (Web Components) -->
    <gmp-place-autocomplete id="pac"></gmp-place-autocomplete>

    <!-- Map -->
    <gmp-map id="map" zoom="6" center="40.4,-3.7"></gmp-map>

    <div class="out">
      <div><b>Nombre:</b> <span id="placeName">-</span></div>
      <div><b>Dirección:</b> <span id="placeAddr">-</span></div>
      <div class="row">
        <div class="grow">
          <b>Place ID:</b> <code id="placeId">-</code>
        </div>
        <button id="copyBtn" type="button">Copiar</button>
      </div>
    </div>
  </div>

  <p class="hint">Pega el Place ID en tu campo <b>google_place_id</b> del admin.</p>
</div>
